.custom-link:hover {
  color: black !important;
  transition: 0.3s ease;
}

.nav-hover:hover{
  color: rgb(10, 106, 10) !important;
  transition: 0.3s ease;
}

.tab-pane {
  transition: 0.2s ease-in-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.hover-bounce:hover {
  animation: bounce 1s;
}