.custom-link:hover {
  color: black !important;
  transition: 0.3s ease;
}

.nav-hover:hover{
  color: rgb(10, 106, 10) !important;
  transition: 0.3s ease;
}

.tab-pane {
  transition: 0.2s ease-in-out;
}